# Gradle files
.gradle/
build/
*/build/

# Android Studio files
.idea/
*.iml
*.iws
*.ipr
local.properties
.DS_Store
*.keystore
groq_api_key

# User-specific / Local files
captures/
.externalNativeBuild/
.cxx/
output.json

# Log files
*.log

# Project specific
.gemini/
bin/
gen/
